<form [formGroup]="form"
      class="example-container"
      (submit)="operate()"
      #frmEstudiante="ngForm">

  <!-- ID oculto -->
  <div [hidden]="true">
    <mat-form-field>
      <input matInput placeholder="ID" formControlName="idEstudiante">
    </mat-form-field>
  </div>

  <!-- Nombre -->
  <mat-form-field>
    <input matInput placeholder="Nombre" formControlName="nombres">
    @if (f['nombres'].errors?.['required'] && f['nombres'].touched) {
      <small class="invalid">Es requerido</small>
    }
    @if (f['nombres'].errors?.['minlength'] && f['nombres'].touched) {
      <small class="invalid">Mínimo 2 caracteres</small>
    }
    @if (f['nombres'].errors?.['maxlength'] && f['nombres'].touched) {
      <small class="invalid">Máximo 120 caracteres</small>
    }
  </mat-form-field>



  <!-- Documento de Identidad -->
  <mat-form-field>
    <input matInput placeholder="DNI" type="number" formControlName="dni">
    @if (f['dni'].errors?.['required'] && f['dni'].touched) {
      <small class="invalid">Es requerido</small>
    }
  </mat-form-field>
  <!-- Apelldos -->
  <mat-form-field>
    <input matInput placeholder="Apelldos" formControlName="apellidos">
    @if (f['apellidos'].errors?.['required'] && f['apellidos'].touched) {
      <small class="invalid">Es requerido</small>
    }
    @if (f['apellidos'].errors?.['minlength'] && f['apellidos'].touched) {
      <small class="invalid">Mínimo 2 caracteres</small>
    }
    @if (f['apellidos'].errors?.['maxlength'] && f['apellidos'].touched) {
      <small class="invalid">Máximo 120 caracteres</small>
    }
  </mat-form-field>
    <!-- nivel -->
  <mat-form-field>
    <input matInput placeholder="Nivel" formControlName="nivel">
    @if (f['nivel'].errors?.['required'] && f['nivel'].touched) {
      <small class="invalid">Es requerido</small>
    }
    @if (f['nivel'].errors?.['minlength'] && f['nivel'].touched) {
      <small class="invalid">Mínimo 2 caracteres</small>
    }
    @if (f['nivel'].errors?.['maxlength'] && f['nivel'].touched) {
      <small class="invalid">Máximo 20 caracteres</small>
    }
  </mat-form-field>
   
 





  <!-- Botones -->
  <button mat-button type="submit" [disabled]="frmEstudiante.invalid">
    <mat-icon>done</mat-icon>
    <span>Guardar</span>
  </button>

  <button mat-button type="button" routerLink="/pages/estudiante">
    <mat-icon>cancel</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
